.header{
  background-color: orangered;
  color: white;
  text-align:center;
}

main {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url("record.png");
  background-color: white;
  background-repeat: repeat;
  margin: 0;
 }